<p id="notice"><%= notice %></p>


<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Role</th>
      <th>Avatar</th>

    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.role_id %></td>
          <td><% if current_user %>
            <%= image_tag current_user.avatar.url(:thumb)%>
          <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>




