<p id="notice"><%= notice %></p>
  <% @seven.each do |day| %>
    <section>
    <% if day.first.present?%>
      <button class="calendar_date"><h3><%= day.first.date %></h3></button>
    <% end %>
    
    <div class="content">
    <% day.each do |calendar| %>
      <h4><%= link_to "#{calendar.user.full_name}", calendar %></h4>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Status</th>
              <th>Day Off</th>
              <th>Time Start</th>
              <th>Time Stop</th>
            </tr>
          </thead>   
          <tbody>
            <tr>
              <td><%= calendar.user.status_id%></td>
                <% if calendar.day_off %>
                  <td>Missing</td>
                <%else%>
                  <td>Present</td>
                <%end%>
              <td><%= calendar.time_start %></td>
              <td><%= calendar.time_stop %></td>
            </tr>
          </tbody>
        </table>
      </div>
    
    <%end%>
    
    </section>
  <%end%>


<%= link_to 'New Calendar', new_calendar_path %>


<script type="text/javascript">
  
  $('.calendar_date').click(function() {
    $(this).closest('section').find('.content').slideToggle();
  });

</script>

<style type="text/css">
  .content{
    display: none;
    overflow: hidden;
}

</style>