<p id="notice"><%= notice %></p>
  <% @seven.each do |day| %>
    <% if day.first.present?%>
      <h3><%= day.first.date %></h3>
    <% end %>

    <% day.each do |calendar| %>
      <h4><%= link_to "#{calendar.user.full_name}", calendar %></h4>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Status</th>
              <th>Day Off</th>
              <th>Time Start</th>
              <th>Time Stop</th>
            </tr>
          </thead>   
          <tbody>
            <tr>
              <td><%= calendar.user.status_id%></td>
                <% if calendar.day_off %>
                  <td>Missing</td>
                <%else%>
                  <td>Present</td>
                <%end%>
              <td><%= calendar.time_start %></td>
              <td><%= calendar.time_stop %></td>
            </tr>
          </tbody>
        </table>
    <%end%>
  <%end%>

<%= link_to 'New Calendar', new_calendar_path %>