<p id="notice"><%= notice %></p>

  <h1>Listing Calendars</h1>

   <table class="table table-bordered">
    <thead>
      <tr>
        <th>Date</th>
        <th>Status</th>
        <th>Day off</th>
        <th>Time start</th>
        <th>Time stop</th>
        <th>Description</th>

      </tr>
    </thead>

    <tbody>
      
        <% current_user.calendars.each do |calendar| %>
          <tr>
            <td><%= calendar.date %></td>
            <td><%= calendar.user.status_id%></td>
            <td><%= calendar.day_off %></td>
            <td><%= calendar.time_start %></td>
            <td><%= calendar.time_stop %></td>
            <td><%= calendar.description %></td>
          </tr>
        <% end %>

      
    </tbody>
  </table>

<br>

<%= link_to 'New Calendar', new_calendar_path %>

